.Rproj.user
.Rhistory
*.RData
.Ruserdata
.Rapp.history
.DS_Store
.vscode
*.Rproj
*_cache
workflow/logs/*
.snakemake/*
data/*
*bam
*bam.bai
*bdg
*bw
*filtered_windows.rds
*gtf.gz
*log
*model.r
*summits.bed
*timestamp
*xls
*.updated
