.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
*.Rproj
*_cache
workflow/logs/*
.snakemake/*
*bam
*bam.bai
*bdg
*bw
*filtered_windows.rds
*gtf.gz
*model.r
*summits.bed
*timestamp
*xls
packages.installed
