.h1 {
  max-width: 90%;
}
.navbar-collapse {
  max-width: 1500px !important;
  float: center;
}
.container{
  margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px
  max-width: 1500px !important;
  }
  @media (min-width:768px){.container{width:750px}}
  @media (min-width:992px){.container{width:970px}}
  @media (min-width:1200px){.container{width:1170px}}
  @media (min-width:1500px){.container{width:1450px}}
body .main-container {
  max-width: 1500px !important;
  margin-right: auto;
  margin-left: auto;
}
body {
  max-width: 1500px !important;
  margin-right: auto;
  margin-left: auto;
}
